@{
    ViewData["Title"] = "Brak dostępu";
}

<h1>Brak dostępu</h1>
<p>Nie masz uprawnień do tej strony. Ta akcja jest dostepna tylko dla roli Ankieter!</p>
<a class="btn" asp-controller="Surveys" asp-action="Index">Powrót do listy ankiet</a>
