@{
    ViewData["Title"] = "Strona główna";
}

<h1>O aplikacji</h1>
<p>Aplikacja umożliwia tworzenie i wypełnianie ankiet online, zapewniając prosty sposób zbierania opinii.</p>

<p>
    Ankieter może definiować pytania, zarządzać aktywnymi ankietami oraz monitorować liczbę oddanych głosów.
    Respondenci natomiast wypełniają ankiety w intuicyjnym interfejsie, a następnie mogą przeglądać wyniki zaprezentowane w formie wykresów.
</p>

<p>
    <a class="btn" asp-controller="Surveys" asp-action="Index">Przejdź do listy ankiet</a>
</p>
